.event_title_area{margin-top:23px;margin-bottom:10px;clear:both}
.event_view{width:680px;float:left}
.event_menu{width:677px;float:left;margin-bottom:10px;border-right:none}
.evnet_button a{width:132px;height:22px;text-align:center;background:#f5f5f5;color:#858585;padding-top:7px;float:left;
font-size:12px;font-weight:900;border-top:3px solid #cfcfcf;border-right:3px solid #cfcfcf;border-bottom:3px solid #cfcfcf}
.evnet_button a:hover{background:#ffffff;border-bottom:3px solid #ffffff;color:#3b3b3b}
.evnet_button a.select{background:#ffffff;border-bottom:3px solid #ffffff;color:#3b3b3b;width:134px}
.event_first a{border-left:3px solid #cfcfcf}
.event_contents{width:100%;float:left;border-top:3px solid #cfcfcf;border-bottom:3px solid #cfcfcf;padding-top:10px;margin-bottom:20px}
.contents_list dt{float:left}
.contents_list dt{padding-top:0px;padding-bottom:5px;}
.contents_list dt img{margin-right:10px;margin-top:0px}	
.contents_list dd span{color:#7f7f7f;font-size:12px;margin-bottom:5px}
.contents_list dd h1{color:#c61515;font-size:12px;margin-bottom:3px;}
.contents_list dd h2{width:36px;height:15px;font-size:12px;color:#ffffff;background:#3b3b3b;padding:2px 11px 2px 7px;display:inline;margin-right:10px}
.contents_line{height:1px;clear:both;background:#cfcfcf;margin-bottom:0px}
.event_contents_area{padding-top:10px;padding-bottom:10px}
.event_contents_area_single{padding:10px;border:3px solid #cfcfcf}
.event_contents_single{width:100%;float:left;padding-top:10px;margin-bottom:20px}
.event_information{width:100%;height:268px;float:left;margin-bottom:19px}
.event_information_movie_view{width:455px;height:268px;background:url(/images/event/pic_nomovie.png);float:right}
.event_line{height:3px;margin-top:10px;margin-bottom:10px;}
.event_sub{font-size:12px}
.enter_area{text-align:center;}
.enter{width:680px;height:40px;border-top:1px solid #cfcfcf;border-bottom:1px solid #cfcfcf;background-color:#f5f5f5;margin-bottom:10px}
.enter span{margin: 0 auto;vertical-align:middle;height:40px}
.enter_font{font-size:12px;font-weight:900;}
.black_border{border:1px solid #202020}
.event_table_area{width:680px;float:left}
.event_table_area .review_table .no{width:80px}
.event_table_area .review_table .user{width:107px}
.event_table_area .review_table .counter{width:67px}
.event_table_area .review_table .today{width:62px}
.event_table_area .review_table .day{width:86px}
.event_table_area .review_table .day{width:86px}
.event_table_area .review_table .club_subject{padding-left:16px}
.event_table_area .review_table .movie_name{width:89px}
.event_table_area .review_table .align_left{text-align:left}
.event_table_page{margin-top:100px}
.event_button a{width:132px}
.event_select a{width:134px;background:#ffffff;border-bottom:3px solid #ffffff;color:#3b3b3b}
.event_botton_tail a{border:none;width:136px}
.event_table_line{float:left;width:100%;height:3px;background:#cfcfcf}
.event_share_table{width:100%;border-top:3px solid #cfcfcf}
.evnet_share_text p{margin-left:20px}
.black_border{border:1px solid #7c7c7c}
.share_table_button{margin-top:9px;}
.share_table_button input{margin-top:9px;float:left}
.share_spacing{word-spacing:1em}
.event_share_table .subject{width:48px}
.event_share_table .content{padding-left:10px}

/*리뷰*/
.review_view {width:677px;float:left}
.review_menu{width:100%;height:29px;border:3px solid #cfcfcf;float:left;margin-bottom:10px}
.review_button a{width:162px;height:22px;text-align:center;background:#f5f5f5;color:#858585;padding-top:7px;float:left;
font-size:12px;font-weight:900;border-right:3px solid #cfcfcf;border-bottom:3px solid #cfcfcf}
.review_button a:hover{background:#ffffff;border-bottom:3px solid #ffffff;color:#3b3b3b}
.review_button a.select{background:#ffffff;border-bottom:3px solid #ffffff;color:#3b3b3b}
.review_tail{width:185px;height:32px;background:#ffffff;margin-top:-3px;margin-right:-3px;float:right}
.review_table {width:100.8%;font-size:12px;border-collapse:collapse;border-bottom:3px solid #cfcfcf;}
.review_table th{height:32px;text-align:center;color:#ffffff;background-color:#9e9e9e;}
.review_table td{height:32px;text-align:center;border-bottom:1px solid #cfcfcf;}
.review_table .name{width:61px}
.review_table .subject{width:389px}
.review_table .name{width:75px}
.review_table .day{width:94px}
.review_table .count{width:61px}