{%  extends 'base.html' %}
{%  block title %} Login {% endblock %}
{%  block content %}

<script type="text/javascript">
	$(document).ready(function (){
		$("form").find("input").focus(function (){
			$(this).prev().hide();
		});
		$("form").find("input").focusout(function (){
			if(!$(this).val()) $(this).prev().show();
		});
	});
</script>

<div id="sub_nb">
	<div class="title_image">
		<img src="/images/mypage/title_login.png" alt="로그인" />
	</div>
	<div class="b_line">
		<div>&nbsp;</div>
	</div>
</div>

<div id="login_form">
<!-- 	<div><img src="/images/img_title_login.png" alt="1/N 로그인" /></div> -->
	<div class="top">
		<div class="fl">&nbsp;</div>
		<div class="fr">&nbsp;</div>
		<div class="clear">
		</div>
	</div>
	<div>
	<div class="content">
	<div class="content-box">
		<div class="fl">
			<div><img src="/images/img_label_required_login.png" alt="로그인이 필요한 서비스입니다." /></div>
			<div style="margin:0px 60px;">
			<form method="post" action=".">
			<input type="hidden" name="return_url" id="return_url" value="{{ request.GET['url']}}" />
			<fieldset>
<!-- 				<legend>Login</legend> -->
				<div class="item">
					<label for="user_id" class="i_label" style="position:absolute; visibility:visible; ">아이디</label>
					<input name="user_id" type="text" value="" id="user_id" class="i_text uid" />
				</div>
				<div class="item">
					<label for="password" class="i_label" style="position:absolute; visibility:visible; ">비밀번호</label>
					<input name="password" type="password" value="" id="password" class="i_text upw" />
				</div>
				<span class="btn_login"><input type="image" src="/images/btn_login_submit.png" /></span>
				<ul class="help">
					<li class="first"><a href="/find">아이디/비밀번호 찾기</a></li>
					<li><a href="/join">회원가입</a></li>
				</ul>
			</fieldset>
			</form>
			</div>
			&nbsp;
		</div>
		<div class="fr"><img src="/images/banner_movie.png" alt="banner" /></div>
		<div class="ln">&nbsp;</div>
		<div class="clear">
		</div>
	</div>
	</div>
	</div>
	<div class="btm">
		<div class="fl">&nbsp;</div>
		<div class="fr">&nbsp;</div>
		<div class="clear">
		</div>
	</div>
</div>


<!-- <div class="login_wrap"> -->
<!-- 	<form method="post" action="."> -->
<!-- 		<input type="hidden" name="return_url" id="return_url" value="{{ request.GET['url']}}" /> -->
<!-- 		<dl class="login_contents"> -->
<!-- 			<dt class="login_title">LOGIN</dt> -->
<!-- 			<dd class="login_fieldset"> -->
<!-- 			<dl class="login_fieldset_value"> -->
<!-- 				<dd> -->
<!-- 					<dl> -->
<!-- 						<dt><strong>?꾩씠??/strong></dt> -->
<!-- 						<dd>{{ form.user_id }}</dd> -->
<!-- 					</dl> -->
<!-- 				</dd> -->
<!-- 				<dd> -->
<!-- 					<dl> -->
<!-- 						<dt><strong>?⑥뒪?뚮뱶</strong></dt> -->
<!-- 						<dd>{{ form.password }}</dd> -->
<!-- 					</dl> -->
<!-- 				</dd> -->
<!-- 			</dl> -->
<!-- 			<dl class="bt_login_wrap"> -->
<!-- 				<dd><input type="submit" class="bt_login icon" /></dd> -->
<!-- 			</dl> -->
<!-- 			</dd> -->
<!-- 			<dd class="right"> -->
<!-- 				<dl class="login_bottom"> -->
<!-- 				</dl> -->
<!-- 			</dd> -->
<!-- 		</dl> -->
<!-- </form> -->
<!-- <div class="login_right_area"> -->

<!-- </div> -->
<!-- </div> -->

{% if errors %}
 	<script type="text/javascript">
		alert('{{ errors[0].get("msg") }}');
		$('#id_{{ errors[0].get("type") }}').focus();
		$('#id_{{ errors[0].get("type") }}').val('');
	</script>
{% endif %}
{%  endblock %}