{%  extends 'base.html' %}
{% block title %} 영화정보 {% endblock %}
{% block external %}
<script>
var sns_lasttime="";
function load_mixsns(){
	$.ajax({
		url:"/{{hot_movie.title_url}}/sns/mixsns/?date="+sns_lasttime,
		success:function(data){
			$(".sns_realtime ul").removeClass("loading");
			$(".sns_realtime ul").prepend(data);
			sns_lasttime=$(".sns_realtime li:first-child").attr("data")
			if ($(".sns_realtime li").size() > 7){
				for(var i = $(".sns_realtime li").size(); i >5 ; i--){
					$(".sns_realtime li:eq("+i+")").remove()
				}
			}
			if ($(".sns_realtime li.slidedown").size() > 0){
				$(".sns_realtime li.slidedown").slideDown()
				$(".sns_realtime li.slidedown").removeClass("slidedown");
			}
			setTimeout(load_mixsns,30000);
		},
		error:function(){
			setTimeout(load_mixsns,30000);
		}
	});
}
$(function(){
	$(".sns_realtime ul").addClass("loading");
	load_mixsns();

});
</script>
{% endblock %}
{% block content %}
<div id="sub_nb">
	<div class="title_image">
		<img src="/images/hotmovie/title_hotmovie.png" alt="hot!무비" />
	</div>
	<div class="b_line">
		<div>&nbsp;</div>
	</div>
</div>

<div class="basic_gap">&nbsp;</div>

<div class="sub_title" style="margin-bottom:10px">
	<h3><img src="/images/hotmovie/latest_title_recommend.png" alt="추천합니다!" /></h3>
	<div class="clear">
	</div>
</div>

<div id="page_visual" class="hotmovie">
	<div class="main_body movie_info">
		<div class="fl">
			<a href="/{{ hot_movie.title_url }}">
			{% if hot_movie.thumnail %}
			<img src="https://inthe-movie.com{{ hot_movie.thumnail }}" alt="핫무비 정보 이미지" width="210" height="268" />
			{% else %}
			<img src="/images/nohotmovie.png" alt="핫무비 정보 이미지" width="210" height="268" />
			{% endif %}
			</a>
		</div>
		<div class="ct">
		
			<div class="title">
				
				<a href="/{{ hot_movie.title_url }}"><h1>{{ hot_movie.title_kor }}</h1></a>
				{% if hot_movie.title_eng %}
				<p>({{ hot_movie.title_eng }})</p>
				{% endif %}
				{% if 'MSIE 6.0' not in request.META['HTTP_USER_AGENT'] %}
				<div class="share">
					<!-- AddThis Button BEGIN -->
					<div class="addthis_toolbox addthis_default_style " addthis:url="https://inthe-movie.com/{{ hot_movie.title_url }}" addthis:title="{{ hot_movie.title_kor }}" style="width:150px">
						<a class="addthis_button_preferred_1"></a>
						<a class="addthis_button_preferred_2"></a>
						<a class="addthis_button_preferred_3"></a>
						<a class="addthis_button_preferred_4"></a>
						<a class="addthis_button_compact"></a>
						<a class="addthis_counter addthis_bubble_style"></a>
					</div>
					<script type="text/javascript">var addthis_config = {"data_track_clickback":true};</script>
					<script type="text/javascript" src="https://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4dfc0aa00168e545"></script>
					<!-- AddThis Button END -->
				</div>
				{% endif %}
				
			</div>
			
			<div class="point_result">
				<ul>
					<li class="total">
						<p class="label">종합평점</p>
						<div class="star_point">
							<span class="fr">{{ hot_movie.get_avg_rating() }}</span>
							<div class="star_rating_h"><span style="width:{{ hot_movie.get_avg_rating()|rate_percent }}"></span></div>
						</div>
						<div class="clear">
						</div>
					</li>
					<li>
						<p class="label"><img src="/images/icon_naver.png" align="absmiddle" alt="naver" /></p>
						<a href="/link_proxy/?u={{ hot_movie.link_naver|base64encode() }}" target="_blank" class="fr"> 바로가기 <span>›</span> </a>
						<div class="star_point">
							<span class="fr">{{ hot_movie.rating_naver|rating_roundup() }}</span>
							<div class="star_rating"><span style="width:{{ hot_movie.rating_naver|rate_percent }}"></span></div>
						</div>
						<div class="clear">
						</div>
					</li>
					<li>
						<p class="label"><img src="/images/icon_daum.png" align="absmiddle" alt="daum" /></p>
						<a href="/link_proxy/?u={{ hot_movie.link_daum|base64encode() }}" target="_blank" class="fr"> 바로가기 <span>›</span> </a>
						<div class="star_point">
							<span class="fr">{{ hot_movie.rating_daum|rating_roundup() }}</span>
							<div class="star_rating"><span style="width:{{ hot_movie.rating_daum|rate_percent }}"></span></div>
						</div>
						<div class="clear">
						</div>
					</li>
					<li>
						<p class="label"><img src="/images/icon_movist.png" align="absmiddle" alt="movist" /></p>
						<a href="{% if hot_movie.link_movist == None  %}#{% else %}
						/link_proxy/?u={{ hot_movie.link_movist|base64encode() }}{% endif %}" target="_blank" class="fr"> 바로가기 <span>›</span> </a>
						<div class="star_point">
							<span class="fr">{{ hot_movie.rating_movist|rating_roundup() }}</span>
							<div class="star_rating"><span style="width:{{ hot_movie.rating_movist|rate_percent }}"></span></div>
						</div>
						<div class="clear">
						</div>
					</li>
				</ul>
			</div>
			 <div class="crawling_post">
                <dl>
                    <dt>멀티미디어</dt>
                   <dd>동영상 총 {{ hot_movie.count_vod }}개 / 포토 총 {{ hot_movie.count_photo }}개</dd>
                   <dt>리뷰포스트</dt>
                    <dd>
                      총 {{ hot_movie.get_all_counts() }}개<br />
                       트위터 {{ hot_movie.count_twitter }}개/미투데이 {{ hot_movie.count_me2day }}개/블로그 {{ hot_movie.count_blog }}개 포스팅
                    </dd>
                 </dl>
             </div>
			

		</div>
	</div>
	<div class="aside">
		<div class="sns_realtime" style="background:#ffffff; height:268px; overflow:hidden;">
			<ul>
				
				
			</ul>
		</div>	</div>
	<div class="dummy"><div>&nbsp;</div></div>
	<div class="clear">
	</div>
</div>


<div class="basic_gap">&nbsp;</div>

<div id="page_body">
	<div class="main_body">
		
		<ul class="tab_menu">
			<li{% if 'top10' in request.GET %} class="selected"{% elif not request.GET %} class="selected"{% endif %}><a href="/movies/?top10">TOP 10</a></li>
			<li{% if 'premovie' in request.GET %} class="selected"{% endif %}><a href="/movies/?premovie">개봉예정작</a></li>
			<li{% if 'current' in request.GET %}  class="selected"{% endif %}><a href="/movies/?current">현재상영작</a></li>
			<li class="clear">
			</li>
		</ul>
		
		{% include '/movies/main_movies.html' %}
	
	</div>
	<div id="right_banners" class="aside">{% include '/common/banner_right.html' %}</div>
	<div class="clear">
	</div>
</div>



{% endblock %}
