<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>inthe-movie.com ::   </title>
    <!--<style>
   		.wf-active body {
    		font-family: 'NanumGothic';
   		}
  	</style>
    
    <script src="http://www.google.com/jsapi"></script>
    <script>
        google.load( "webfont", "1" );
        google.setOnLoadCallback(function() {
            WebFont.load({ custom: {
                families: [ "NanumGothic" ],
                urls: [ "http://fontface.kr/NanumGothic/css" ]
            }});
        });
    </script>-->
	<link rel="stylesheet" type="text/css" href="/stylesheet/common.css" />
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
	
</head>
<body>
 <div id="wrap">
 <div id="header">
 <a href="/"><span id="logo">intheMOVIE</span></a>
	<ul id="header_member" class="header_mod">
	
		<li id="join"><a href="/join">회원가입</a></li>	
		<li class="top_small_slider"></li>
		<li id="id_pass_search"><a href="/find">아이디비밀번호찾기</a></li>
		<li class="top_small_slider"></li>
		<li id="login"><a href="/login?url=/err/">로그인</a></li>
	
	</ul>
	<ul id="header_menu" class="header_mod">
		<li id="hotmovie"><a href="/movies">핫무비</a></li>
		<li class="top_slider"></li>
		<li id="event"><a href="/events">이벤트</a></li>
		<li class="top_slider"></li>
		<li id="ducks_club"><a href="/club">덕스클럽</a></li>
		<li id="movie_search">
			<div id="movie_searh_box">
				<input type="text" id="movie_search_input" name="movie_search_input"/>
				<a href="#" onclick="">movie_search_icon</a>
			</div>
		</li>
	<ul>
 </div>
 <div id="header_bar"></div>
 <div id="main">
	 
<h3>페이지를 찾을 수 없습니다.</h3>
<br />
<a href="#" onclick="history.back(-1);">되돌아가기</a>

 </div>
 <div id="footer">
 <div id="footer_bar"></div>
	<ul id="footer_link"> 
		<li id="footer_inthemovie_info"><a href="http://inthe-movie.tistory.com">intheMovie소개</a></li>
		<li id="footer_slider"></li>
		<li id="footer_individual_information"><a href="/private">개인정보취급방침</a></li>
		<li id="footer_slider"></li>
		<li id="footer_use_information"><a href="/tos">이용약관</a></li>
		<li id="footer_slider"></li>
		<li id="footer_advertice"><a href="#">광고 및 제휴안내</a></li>
	</ul>
 <div id="footer_copyright" name="footer_copyright"><span>Copyright ⓒ inthemovie co LTD. ALL RIGHTS RESERVED</span></div>
 </div> 
</div>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2770965-4']);
  _gaq.push(['_setDomainName', '.inthe-movie.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
 </body>
</html>