<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="google-site-verification" content="JplAFbei_OcjLfkE7CWr71i_xO0B0vh6J-PGniN6Vjc" />
	<title>inthe-movie.com 인더무비</title>
	<link rel="stylesheet" type="text/css" href="/stylesheet/common.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheet/jquery.thumbs.css" />
	<script type="text/javascript" src="/script/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/script/jquery.thumbs.js"></script>
    <script type="text/javascript" src="/script/application.js"></script>
	{% block external %}{% endblock %}
</head>
<body>

	<div style="margin:0 auto;">
		{% block content %}{% endblock %}
	</div>
	
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-32878418-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</body>
</html>