{% for movie in movies_info %}
<fieldset class=movie_item_row>

	<ul class="i">
	<li class="i">
		<div class="thumb fl">
		{% if movie.thumnail %}
			<a href="/{{ movie.title_url }}" target="_blank">
				<img alt="핫무비 정보 이미지" src="https://inthe-movie.com{{ movie.thumnail }}" width=152 height=194>
			</a>
		{% else %}
			<a href="/{{ movie.title_url }}" target="_blank">
				<img alt="핫무비 정보 이미지" src="https://inthe-movie.com/images/nohotmovie.png" width=152 height=194>
			</a>
		{% endif %}
		</div> 
		<h4><a href="/{{ movie.title_url }}" target="_blank">{{ movie.title_kor }}</a></h4>

		<div class=ct>
			<div class="point_result">
				<ul class="star_point">
					<li class="total">
						<p class="label">종합평점</p>
						<div class="star_point">
							<span class="fr" style="color:#fff">{{ movie.get_avg_rating() | get_round}}</span>
							<div class="fl star_rating_h"><span style="float:left;width:{{ movie.get_avg_rating()|rate_percent }}"></span></div>
						</div>
						<div class="clear">
						</div>
					</li>

					<li>
						<p class="label"><img src="/images/icon_naver.png" alt="네이버" /></p>
						<div class="star_point">
							<span class="fr">{{ movie.rating_naver | get_round}}</span>
							<div class="fl star_rating"><span style="float:left;width:{{ movie.rating_naver|rate_percent }}"></span></div>
						</div>
						
						<div class="clear">
						</div>
					</li>
					
					<li>
						<p class="label"><img src="/images/icon_daum.png" alt="다음" /></p>
						<div class="star_point">
							<span class="fr">{{ movie.rating_daum| get_round }}</span>
							<div class="fl star_rating"><span style="float:left;width:{{ movie.rating_daum|rate_percent }}"></span></div>
						</div>
						<div class="clear">
						</div>
					</li>
					
					<li>
						<p class="label"><img src="/images/icon_movist.png" alt="imdb" /></p>
						<div class="star_point">
							<span class="fr">{{ movie.rating_movist | get_round}}</span>
							<div class="fl star_rating"><span style="float:left;width:{{ movie.rating_movist|rate_percent }}"></span></div>
						</div>
						<div class="clear">
						</div>
					</li>

					<li>
						<p class="label"><img src="/images/icon_imdb.png" alt="imdb" /></p>
						<div class="star_point">
							<span class="fr">{{ movie.rating_imdb | get_round}}</span>
							<div class="fl star_rating"><span style="float:left;width:{{ movie.rating_imdb|rate_percent }}"></span></div>
						</div>
						<div class="clear">
						</div>
					</li>
				</ul>
			</div>	
			
			<div class="review_form">
				<dl>
					<dt><b>Video/Photo</b></dt>
					<dd>동영상 총{{ movie.count_vod }}개 / 포토 총 {{ movie.count_photo }}개</dd>
					<dt><b>Review</b></dt>
						<dd>총 {{ movie.get_all_counts() }}개</dd>
						<dd>(게시판 {{ movie.count_bbs }}개 / 기자단 {{ movie.count_press }}개)</dd>
						<dd>트위터 {{ movie.count_twitter }}개 /  미투데이 {{ movie.count_me2day }}개</dd>
						<dd>블로그 {{ movie.count_blog }}개 포스팅</dd>
				</dl>
			</div>
			
		
		</div>
		
	</li>
	</ul>

</fieldset>
{% else %}
결과값이 없습니다.
{% endfor %}