<div id="sub_nb">
	<ul>
		<li{% if c == 'home' %} class="selected"{% endif %}>
			<a href="/club/" class="rollover">
				<img src="/images/club/menu_home.png" alt="홈" />
				<img src="/images/club/menu_home_on.png" alt="홈" class="over" />
			</a>
		</li>
		<li class="gap">&nbsp;</li>
		<li{% if c == 'reporter' %} class="selected"{% endif %}>
			<a href="/club/reporter" class="rollover">
				<img src="/images/club/menu_press.png" alt="기자단리뷰" />
				<img src="/images/club/menu_press_on.png" alt="기자단리뷰" class="over" />
			</a>
		</li>
		<li class="gap">&nbsp;</li>
		<li{% if c == 'movie' %} class="selected"{% endif %}>
			<a href="/club/movie" class="rollover">
				<img src="/images/club/menu_movie.png" alt="영화리뷰" />
				<img src="/images/club/menu_movie_on.png" alt="영화리뷰" class="over" />
			</a>
		</li>
		<li class="gap">&nbsp;</li>
		<li{% if c == 'performance' %} class="selected"{% endif %}>
			<a href="/club/performance" class="rollover">
				<img src="/images/club/menu_performance.png" alt="공연리뷰" />
				<img src="/images/club/menu_performance_on.png" alt="공연리뷰" class="over" />
			</a>
		</li>
		<li class="gap">&nbsp;</li>
		<li{% if c == 'attraction' %} class="selected"{% endif %}>
			<a href="/club/attraction" class="rollover">
				<img src="/images/club/menu_attractions.png" alt="극장주변명소" />
				<img src="/images/club/menu_attractions_on.png" alt="극장주변명소" class="over" />
			</a>
		</li>
		<li class="gap">&nbsp;</li>
		<li{% if c == 'free' %} class="selected"{% endif %}>
			<a href="/club/free" class="rollover">
				<img src="/images/club/menu_talks.png" alt="이러쿵저러쿵" />
				<img src="/images/club/menu_talks_on.png" alt="이러쿵저러쿵" class="over" />
			</a>
		</li>
		<li class="gap">&nbsp;</li>
		<li{% if c == 'offmeeting' %} class="selected"{% endif %}>
			<a href="/club/offmeeting" class="rollover">
				<img src="/images/club/menu_off.png" alt="오프모임" />
				<img src="/images/club/menu_off_on.png" alt="오프모임" class="over" />
			</a>
		</li>
	</ul>
	<div class="b_line">
		<div>&nbsp;</div>
	</div>
</div>
