{%  extends 'base.html' %}
{%  block title %} 덕스클럽 {% endblock %}
{%  block external %}
	<script>
$(function(){
	$("#notice ul").addClass("loading").load("/notice/", function(data){
		$(this).removeClass("loading");
	});
	var name = "";
	$(".club_human_wrap > div").mouseover(function(){
		$(this).find("div").addClass("rollover");
		$(this).find("a").addClass("selected");
	});
	$(".club_human_wrap > div").mouseout(function(){
		$(this).find("div").removeClass("rollover");

		$(this).find("a").removeClass("selected");
	});
	//$("#notice ul").html();
});
</script>
{% endblock %}
{%   block content %}
{{ "club.home"|get_lnb() }}

<div class="basic_gap">&nbsp;</div>
<div id="page_visual" class="hotmovie">
	<div class="main_body movie_info">
		
		<div class="club_human_wrap">
		{% for ducks in now_ducksclub %}
			<div class="human_{{loop.index}}">
				<div class="talks" >
					<div class="talk{{loop.index}}">
						<p class="title"><a href="/club/{{ ducks.board.code }}/post/{{ ducks.id }}">{{ducks.title}}</a> </p>
						<span class="writer" >-{{ducks.user.nick_name}}-</span>
					</div>
				</div>
				<a href="#" class="rollover">
					<img src="/images/club/human_{{loop.index}}.png" alt="{{ducks.user.nick_name}}"/>
					<img src="/images/club/human_{{loop.index}}_on.png" class="over" alt="{{ducks.user.nick_name}}"/>
				</a>
			</div>
		{% endfor %}

			
		</div>
	
	</div>
	<div id="notice" class="notice aside loading" style="border:1px solid #f0684d;width:252px;height:92px;background:white;margin:5px 5px 5px 0px;padding:10px;">
		<h3><img src="/images/title_inthemovienotice.png" alt="intheMOVIE 공지사항" style="margin-bottom:8px"/></h3>
		<ul class="loading" ></ul>
	</div>
	
	<div class="dummy"><div>&nbsp;</div></div>
	<div class="notice aside loading" style="border:1px solid #f0684d;width:252px;height:127px;background:white;margin:0px 5px 5px 0px;padding:10px">
		<h3  style="margin:0;padding:0">
			<span><img src="/images/title_duckscluboff.png" alt="덕스클럽 오프모임" style="margin-bottom:8px" /></span>
			<span class="more"><a href="#"><img src="/images/title_more.png" alt="more" style="margin-bottom:8px"/></a></span>
		</h3>
		<div class="clear"></div>
		<ul >
			{% for post in offmeeting_posts %}
			<li><a href="/club/offmeeting/post/{{ post.id }}">{{ post.title|strrepl(20) }}</a></li>
			{% endfor %}
		</ul>
	</div>
	<div class="clear">
	</div>
</div>

<div class="basic_gap">&nbsp;</div>


<div id="page_body">
	<div class="main_body" >
		<div class="sub_title" style="margin:0px">
			<h3><img src="/images/club/club_main_title_repoter.png" alt="기자단 리뷰"/></h3>
			<span class="fr"><a href="/club/reporter"><img src="/images/title_more.png" alt="more" /></a></span>
			<div class="clear">
			</div>
		</div>
		<div class="latest_item_col" >
			<ul>
				{% for post in reporter_posts %}
				<li>
					<a class="single_image" href="/club/reporter/post/{{ post.id }}"  title="{{ post.title|strip_tags }}" target="_blank">
						<span class="thumb"><img src="https://inthe-movie.com/files/reporter/{{ post.thumnail}}" alt="{{ post.title|strip_tags }}" /></span>
						<p style="overflow:hidden">{{ (post.title|strip_tags)[:15] }}</p>
					</a>
				</li>
				{% endfor %}
			</ul>
		</div>
		<div class="sub_wrap fl">
			<div class="sub_title" style="margin:0px">
				<h3><img src="/images/club/club_main_title_movie.png" alt="영화 리뷰"/></h3>
				<span class="fr"><a href="/club/movie"><img src="/images/title_more.png" alt="more" /></a></span>
				<div class="clear">
				</div>
			</div>
			<div class="club_movie_review club_bg_none">
			{% for post in movie_posts %} 
				{% if post.thumnail %}
					<img src="/files/movie/{{ post.thumnail }}" width="120" height="90" alt="{{ post.title }}" {% if loop.index > 1 %} style='display:none;' {% endif %} class="club_img_border" />
				{% else %}
					<img src="/images/no15898.png" width="120" height="90"  alt="{{ post.title }}" {% if loop.index > 1 %} style='border:1px solid #cccccc;display:none;' {% else %} style="border:1px solid #cccccc;" {% endif %} class="club_img_border" />
				{% endif %}		
				
			{% endfor %}
			<div class="club_movie_review_main">
				{% for post in movie_posts %}  			
				<div{%if loop.index == 0 %} class="review_select"{% endif %}><a href="/club/movie/post/{{ post.id }}">{{ post.title|strrepl(20) }}</a></div>
				{% endfor %}
			</div>
			
			</div>
			
		</div>
		<div class="sub_wrap fr">
			<div class="sub_title" style="margin:0px">
				<h3><img src="/images/club/club_main_title_performance.png" alt="공연 리뷰"/></h3>
				<span class="fr"><a href="/club/performance"><img src="/images/title_more.png" alt="more" /></a></span>
				<div class="clear">
				</div>
			</div>
			<div class="front_notice">
				<ul>
				{% for post in performance_posts %}
					<li>
						<a href="/club/performance/post/{{ post.id }}">{{ post.title|strrepl(20) }}</a>
						<span class="fr">{{ post.reg_date|datetimeformat('%Y.%m.%d') }}</span>
						<div class="clear ">
						</div>
					</li>
				{% endfor %}
				</ul>
			</div>
		</div>
		<div class="clear">
		</div>
		<div class="sub_wrap fl">
			<div class="sub_title" style="margin:0px">
				<h3><img src="/images/club/club_main_title_talks.png" alt="이러쿨저러쿵"/></h3>
				<span class="fr"><a href="/club/free"><img src="/images/title_more.png" alt="more" /></a></span>
				<div class="clear">
				</div>
			</div>
			<div class="front_notice">
				<ul>
				{% for post in free_posts %}
					<li>
						<a href="/club/free/post/{{ post.id }}">{{ post.title|strrepl(20) }}</a>
						<span class="fr">{{ post.reg_date|datetimeformat('%Y.%m.%d') }}</span>
						<div class="clear">
						</div>
					</li>
				
				{% endfor %}
				</ul>
			</div>
		</div>
		<div class="sub_wrap fr	">
			<div class="sub_title" style="margin:0px">
				<h3><img src="/images/club/club_main_title_attraction.png" alt="극장주변명소"/></h3>
				<span class="fr"><a href="/club/attraction"><img src="/images/title_more.png" alt="more" /></a></span>
				<div class="clear">
				</div>
			</div>
			<div class="front_notice">
				<ul>
				{% for post in attraction_posts %}
					<li>
						<a href="/club/attraction/post/{{ post.id }}">{{ post.title|strrepl(20) }}</a>
						<span class="fr">{{ post.reg_date|datetimeformat('%Y.%m.%d') }}</span>
						<div class="clear">
						</div>
					</li>
				{% endfor %}
				</ul>
			</div>
		</div>
		<div class="clear">
		</div>
		
	</div>
	<div id="right_banners" class="aside">
	{% include '/common/banner_right.html' %}
	</div>
	<div class="clear">
	</div>
</div>



{%  endblock %}
